@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Roboto:wght@700;100&display=swap');
*{
    padding: 0;
    margin: 0;
    /* color: #361106; */
    font-family: "Roboto";
}
html,
body {
    scroll-behavior: smooth;
  background-color: rgb(255, 237, 215);
  max-width: 100%;
  overflow-x: hidden;
}

/* Start Animation */
@keyframes starta {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

h1,
.first a,
.col {
  animation: starta 3s;
}

/* #region MAIN HEADER */
.first {
  width: 100%;
  height: 45vh;
  background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("../images/bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.first h1 {
    color: rgb(255, 237, 215);
  padding-top: 5%;
  font-size: 72px;
  margin-bottom: 3%;
}

.first a {
  font-size: 20px;
  transition: 0.4s;
  text-decoration: none;
  color: rgb(255, 237, 215);
  border: rgb(255, 237, 215) solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.first a:hover {
  background-color: rgb(255, 237, 215);
  color: #361106;
  transition: 0.4s;
}
/* #endregion */

/* #region FAQS */
.container {
  margin: 0 auto;
  padding: 4rem;
  padding-top: 100px;
  width: 80%;
}

h2 {
  font-size: 50px;
  padding-bottom: 5%;
  font-weight: 600;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 3rem 3rem 1rem 0rem;
  color: #361106bf;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid #361106bf;
  transition: 1s;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #361106;
  border-bottom: 1px solid #361106;
  transition: 0.3s;
}
.accordion a:hover::after {
  border: 1px solid #361106;
  transition: 0.3s;
}
.accordion a.active {
  color: #361106;
  border-bottom: 1px solid #361106;
}
.accordion .content {
  opacity: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 25px;
  font-weight: 600;
}
.accordion .content.active {
  opacity: 1;
  padding-top: 1rem;
color: #361106;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
/* #endregion */

/* #region GO TO FORM PAGE DESIGN */
.form {
  margin: 0px auto;
  margin-top: 100px;
  box-shadow: 10px 10px 50px rgba(255, 150, 241, 0.274);
  width: 80%;
  background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("../images/bg.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.form h1 {
  font-size: 52px;
  color: rgb(255, 237, 215);
  margin-bottom: 40px;
  padding: 0;
}

.form a {
  font-size: 18px;
  transition: 0.4s;
  text-decoration: none;
  color: rgb(255, 237, 215);
  border: rgb(255, 237, 215) solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.form a:hover {
  background-color: rgb(255, 237, 215);
  color: #361106;
  transition: 0.4s;
}

@media (max-width: 700px) {
  .form {
    padding: 50px 0;
  }

  .form h1 {
    font-size: 24px;
  }

  .form a {
    font-size: 13px;
  }
}
/* #endregion */

/* Ipad */
@media (max-width: 1450px) {
  .first {
    height: 400px;
  }

  .first h1 {
    font-size: 53px;
    padding-top: 110px;
    padding-bottom: 2%;
  }

  .first a {
    font-size: 23px;
  }

  .container {
    width: 100%;
    padding: 4rem;
  }

  .container h2 {
    padding-top: 5%;
    font-size: 45px;
  }

  .container a {
    font-size: 35px;
  }

  .accordion .content p {
    font-size: 22px;
  }
}

/* Phone */
@media (max-width: 750px) {
  .first {
    height: 40vh;
  }

  .first h1 {
    font-size: 28px;
    padding-top: 25%;
    padding-bottom: 2%;
  }

  .first a {
    font-size: 13px;
  }

  .container {
    width: 100%;
    padding: 4rem;
  }

  .container h2 {
    padding-top: 20%;
    font-size: 25px;
  }

  .container a {
    font-size: 17px;
  }

  .accordion .content p {
    font-size: 15px;
  }
}