@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* creating a basic start animation for nice transition */
@keyframes loadanimation{
    from{
      opacity: 0;
    }
  
    to{
      opacity: 1;
    }
}
body{
  animation: loadanimation 2000ms;
    margin: 0;
    /* background-image: url(../images/bg.png); */
    background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.center{
  z-index: 2;
    animation: loadanimation 2000ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgba(31, 18, 8, 0.356);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 10px 0;
  border-radius:  8px 8px 0 0;
  color: rgb(255, 237, 215);
  font-family: "Poppins", sans-serif;
}
.euroschoologo{
    text-align: center;
    color: rgb(255, 237, 215);
    font-size: 30px;
  font-family: "Poppins", sans-serif;

}
.euroschoologo img{
    width: 110px;
    height: 110px;
    margin-bottom: -1em;
}
.center form{
  padding: 0 40px;
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.466);
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: rgb(255, 237, 215);
  /* font-weight: 00; */
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: rgb(255, 237, 215);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 237, 215);
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: rgb(255, 224, 203);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: none;
  color: rgb(114, 52, 11);
  background-color: rgb(255, 237, 215);
  border-radius: 25px;
  font-size: 18px;
  /* color: #e9f4fb; */
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}
input[type="submit"]:hover{
  border-color: #ffd2db;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #ffd2db;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
@media (max-width: 800px){
  .center{
    width: 300px;
    top: 46%;
    left: 48%;
  }
  .center h1{
    font-size: 18px;
    margin-bottom: -10px;
  }
  .center img{
    width: 50px;
    margin-bottom: -20px;
    height: 50px;
  }
  form .txt_field{
    margin: 10px 0;
  }
  .center .txt_field input{
    font-size: 12px;
  }
  .txt_field label{
    font-size: 12px;
  }
  input[type="submit"]{
    font-size: 12px;
    height: 45px;
    margin-top: 20px;
  }
}