@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;100&display=swap');
* {
  margin: 0;
  user-select: none;
  padding: 0;
  /* color: rgb(255, 237, 215); */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
::-webkit-scrollbar {
  width: 0;
}
html,
body {
    color: rgb(255, 237, 215);
    max-width: 100%;
}
body{
    background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("../images/bg.png");
    transform: scale(1, 1);
}
.main{
    scroll-behavior: smooth;
    width: 1000000vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    position: absolute;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wrapper{
    padding-top: 100px;
    padding-left: 150px;
    width: 100%;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display: flex;
}
.slide{
    height: 80vh;
    margin-top: -20px;
    background: rgba(31, 18, 8, 56);
    border-radius: 22px 0 0 22px;
}
.slide a{
  text-decoration: none;
  color: rgb(255, 237, 215);
  font-size: 22px;
  font-family: "Roboto";
  border: 2px solid rgb(255, 237, 215);
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 100;
  transition: .4s;
  margin: 100px;
}
.slide a:hover{
  background-color: rgb(255, 237, 215);
  color: rgba(31, 18, 8, 56);
}
.slide h1{
    font-family: "Roboto";
    font-size: 50px;
    padding: 0px 10px 10px 100px;
    margin-top: 50px;
}
.slide .line{
    width: 4.5rem;
    height: 1px;
    background-color: rgb(255, 237, 215);
    margin: 50px 10px 10px 100px;
}
.slide p{
    padding: 50px 200px 60px 100px;
    font-size: 25px;
    font-weight: 100;
}
.eventslide{
  width: 1500px;
  font-family: "Roboto";
  color: rgba(31, 18, 8, 56);
  height: 80vh;
  /* text-align: center; */
  background: rgb(255, 237, 215);
  display: flex;
  margin-top: -20px;
}
.eventdetails{
  width: 1000px;
}
.eventdetails .line{
  width: 4.5rem;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: rgba(31, 18, 8, 56);
}
.eventdetails h1{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 46px;
}
.eventdetails h3{
  font-size: 35px;
  padding-left: 30px;
  padding-bottom: 5px;
  font-weight: 100;
}
.eventdetails h4{
  font-size: 30px;
  padding-left: 30px;
}
.eventdetails p{
  font-weight: 100;
  padding: 10px 100px 0 30px;
  font-size: 23px;
}
.form{
  color: rgb(255, 237, 215);
  height: 100%;
  /* display: flex; */
  width: 30%;
  background: rgba(31, 18, 8, 56);
}
#event21 .eventdetails{
  width: 170vh;
}
.many{
  width: 40%;
}
.formofmanycategories{
  color: rgb(255, 237, 215);
  height: 100%;
  /* display: flex; */
  width: 30%;
  background: rgba(31, 18, 8, 56);
  display: flex;
  width: 70%;
}
.oneform{
  width: 50%;
}
.onestudentonly .onestudent{
  margin-top: 130px;
}
.mainform{
  width: 100%;
  margin-top: 20px;
  margin-left: 25%;
}
.mainform h3{
  margin-bottom: -20px;
  margin-left: 13%;
  font-size: 25px;
}
.studentheading{
  margin: 40px auto 40px;
  font-size: 25px;
}
.onestudent{
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid rgb(255, 237, 215);
  margin: 30px auto 0;
}
.txt_field{
  width: 50%;
}
.txt_field input{
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: rgb(255, 237, 215);
}
.txt_field label{
  position: absolute;
  top: 80%;
  left: 5px;
  color: rgb(255, 237, 215);
  transform: translateY(-50%);
  font-size: 19px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 237, 215);
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: rgb(255, 224, 203);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.buttona{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.buttona a{
  text-decoration: none;
  color: rgb(255, 237, 215);
  font-size: 17px;
  font-family: "Roboto";
  border: 2px solid rgb(255, 237, 215);
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 100;
  transition: .4s;
  /* margin: 40px 37.9% 0; */
}
.buttona a:hover{
  background-color: rgb(255, 237, 215);
  color: rgba(31, 18, 8, 56);
}
.online:nth-child(2){
  margin-top: -20px;
}
.online h3{
  margin: 0 auto 30px;
}
.online .txt_field{
  margin: 0 auto 30px;
}
.online label{
  font-size: 18px;
  text-align: left;
}
.onlinebutton{
  padding: 0;
}
.morethan2students{
  width: 800px;
  background-color: rgba(31, 18, 8, 56);
  display: flex;
}
.morethan2students .form{
  width: 300px;
  height: 80%;
  margin-top: 30px;
}
.phonewarning{
  display: none;
  width: 60%;
  margin: 30vh auto;
  text-align: center;
}
.phonewarning h1{
  /* padding: 0 20%; */
  font-size: 20px;
  margin-bottom: 20px;
}
.phonewarning h3{
  font-weight: 100;
  padding-bottom: 10px;
  font-size: 15px;
}
.phonewarning a{
  text-decoration: none;
  color: rgb(255, 237, 215);
  font-size: 12px;
  font-family: "Roboto";
  border: 2px solid rgb(255, 237, 215);
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 100;
  transition: .4s;
}
.phonewarning a:hover{
  background-color: rgb(255, 237, 215);
  color: rgba(31, 18, 8, 56);
}
.lastslide{
  color: rgba(31, 18, 8, 56);
  background-color: rgb(255, 237, 215);
  height: 80vh;
  margin-top: -20px;
  width: 50vw;
  margin-right: 100px;
  border-radius: 0  22px 22px 0;
}
.lastslide h1{
  font-size: 50px;
  padding: 0 10px 0px 100px;
  margin-top: 50px;
}
.lastslide .line{
  width: 4.5rem;
  height: 1px;
  background-color: rgba(31, 18, 8, 56);
  margin: 30px 10px 0px 100px;
}
.lastslide p{
  padding: 30px 200px 0px 100px;
  font-size: 25px;
  font-weight: 100;
}
form .lastslide .txt_field{
  position: relative;
  border-bottom: 2px solid rgba(31, 18, 8, 56);
  margin: 30px 100px;
}
.lastslide .txt_field{
  width: 50%;
}
.lastslide .txt_field input{
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: rgba(31, 18, 8, 56);
}
.lastslide .txt_field label{
  position: absolute;
  top: 80%;
  left: 5px;
  color: rgba(31, 18, 8, 56);
  transform: translateY(-50%);
  font-size: 19px;
  pointer-events: none;
  transition: .5s;
  font-weight: 100;
  padding-bottom: 20px;
}
.lastslide .txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgba(31, 18, 8, 56);
  transition: .5s;
}
.lastslide .txt_field input:focus ~ label,
.lastslide .txt_field input:valid ~ label{
  top: -5px;
  color: rgba(31, 18, 8, 56);
}
.lastslide .txt_field input:focus ~ span::before,
.lastslide .txt_field input:valid ~ span::before{
  width: 100%;
}
.lastslide button[type="submit"]{
  background: transparent;
  text-decoration: none;
  color: rgba(31, 18, 8, 56);
  font-size: 22px;
  font-family: "Roboto";
  border: 2px solid rgba(31, 18, 8, 56);
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 100;
  transition: .4s;
  margin: 20px 100px;
}
.lastslide button[type="submit"]:hover{
  color: rgb(255, 237, 215);
  background-color: rgba(31, 18, 8, 56);
} 
.morethan2students .last{
  margin-top: 0px;
}
#event28{
  width: 250vh;
}
#event28 .morethan2students{
  width: 150vh;
}
#event28 .onestudentonly{
  height: 100%;
  margin-top: -0px;
}
#event28 label{
  font-size: 18px;
}
#event29{
  width: 230vh;
}
#event29 .morethan2students{
  width: 130vh;
}
#event29 label{
  font-size: 15px;
}
@media (max-width: 1200px){
  .wrapper{
    display: none;
  }
  .phonewarning{
    display: block;
  }
}